.root {
  --triangle1: url(./images/triangle-up.png);
}

body {
  margin: 0%;
  padding: 0%;
  background-color: #e2e2e2;
}

.App {
  text-align: center;
}

.navbar {
  height: 65px;
  box-shadow: 0 0 40px #252525;
}

.imgButton {
  margin-left: 2%;
}

.nav-link::after {
  display: none !important;
}

.navbar > .imgButton > img {
  height: 35px;
  box-shadow: 0 0 10px #252525;
  padding: 0;
  margin: 0;
}
.navbar > .imgButton > img:hover {
  height: 34px;
  box-shadow: 0 0 3px #252525;
}
.navbar > .imgButton > img:active {
  height: 34px;
  box-shadow: 0 0 0 #252525;
}
.form-control {
  height: 30px;
}
.d-flex {
  align-items: center;
}
.navbar-toggler {
  margin-right: 2%;
}
.navbar > .show {
  margin-top: 12px;
  padding: 0 10% 10px 10%;
  box-shadow: 0 40px 40px -35px #252525;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
}
.collapsing {
  margin-top: 12px;
  padding: 0 10% 10px 10%;
  box-shadow: 0 40px 40px -35px #252525;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
}
.dropdown-menu {
  box-shadow: 0 0 0 0 #252525 !important;
}
#btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  margin-left: 10%;
  height: 32px;
  width: 32px;
}
#btn > img {
  height: 35px;
  border-radius: 999px;
  box-shadow: 0 0 10px #252525;
}
#btn > img:hover {
  height: 32px;
  width: 32px;
  border-radius: 999px;
  box-shadow: 0 0 5px #252525;
}
#btn > img:active {
  height: 32px;
  width: 32px;
  border-radius: 999px;
  box-shadow: 0 0 0 #252525;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
