body {
  margin: 0%;
  padding: 0%;
  background-color: #e2e2e2;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 50px;
  box-shadow: 0 0 40px #252525;
}
nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > a:hover {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav > a > img {
  height: 35px;
  box-shadow: 0 0 10px #252525;
}
nav > a > img:hover {
  height: 34px;
  box-shadow: 0 0 3px #252525;
}
nav > a > img:active {
  height: 34px;
  box-shadow: 0 0 0 #252525;
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search > * {
  padding: 0;
  margin: 0;
  height: 30px;
  border: none;
  margin: 10px;
  /* background-color: black; */
}
.search > input {
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(109, 109, 109);
}
.search > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  height: 32px;
  width: 32px;
}
.search > button > img {
  height: 35px;
  width: 35px;
  border-radius: 999px;
  box-shadow: 0 0 10px #252525;
}
.search > button > img:hover {
  height: 32px;
  width: 32px;
  border-radius: 999px;
  box-shadow: 0 0 5px #252525;
}
.search > button > img:active {
  height: 32px;
  width: 32px;
  border-radius: 999px;
  box-shadow: 0 0 0 #252525;
}
.dropdowns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
